<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBfpa3jytNJpRGJQASBGfxNgTWXAYwRTeE</string>
	<key>GCM_SENDER_ID</key>
	<string>442966443733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab3</string>
	<key>PROJECT_ID</key>
	<string>mis-labs-80924</string>
	<key>STORAGE_BUCKET</key>
	<string>mis-labs-80924.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442966443733:ios:e470018a8b1dd1cdcb845c</string>
</dict>
</plist>